/* div > p{

}
tu elementiss shvilze gvinda stilis shecvla */
/* div p{ */
    /* tu propertis nebismier elementze gvinda ramis shecvla */
/* } */
/* ul+p{
    tu magalitad listis shemdeg elementze gvinda ramis shecvla
} */
/* p{
    font-size: 30px;
    zomis shecvla
    font-weight:500;
    siskis shecvla
    margin: siktvebs shoris dashoreba
    line height xazis simagle
    letter-spacing sitkvebs shoris mandzili
} */